#board {
    display: flex;
    width: fit-content;
    padding: 1em;
    background-color: #250001;
}

.column {
    border: 2px solid #250001;
}

.column:hover {
    border: 2px solid white;
}

.box {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: 3px;
    background-color: white;
}

.box1 {
    background-color: #A50104;
}

.box-1 {
    background-color: #FCBA04;
}